services:
  db:
    image: postgres:17-alpine
    container_name: ascendio-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
      POSTGRES_DB: ${DB_NAME:-ascendio}
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data:
